* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-size: cover;
	color: #fff;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.widget {
	width: 40%;
	margin: 2em;
	margin: 32px;
}

.widget p {
	display: inline-block;
	line-height: 1em;
}

.clock {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 20px;
	font-size: 4em;
	text-align: center;
	background: rgba(0,0,0,.5);
}

.clock .seconds-box {
	display: inline-block;
}

.stopwatch {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 20px;
	font-size: 4em;
	text-align: center;
	background: rgba(0,0,0,.5);
}

.stopwatch .btn {
	display: inline-block;
}

.btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;    
    margin: 15px 100px;
}

.btn>button{
    display: inline-block;
    background: none;
    border: none;
    outline: inherit;
    cursor: pointer;

    height: 80px;
    border-radius: 50%;
    font-size: 50px;
    color: var(--text-color);
}
button:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: var(--btn-hover);
    color: var(--btn-hover-text);
}